<script>
        $(document).ready(function () {
            log_result({{ status_array | tojson }})
        })
        function log_result(status_array) {
            $("#status_log").JSONView(status_array, {
                collapsed: false,
                nl2br: true,
                recursive_collapser: false
            })
            $('#status').JSONView('collapse', 2);
        }
    </script>
    
    <div class="container mt-2 accordion">
        <div class="card">
            <div class="card-header alert-danger text-center">
                <h4>SGPytest ended with error</h4>
                see logs or start a new test by clicking run
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center">
                <a role="button" id="btn_log" class="btn btn-outline-danger collapsed card-link" data-toggle="collapse" href="#collapseLog">Log</a>
            </div>
            <div id="collapseLog" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div id="status_log"></div>
                </div>
            </div>
        </div>
        <br>
    </div>