<style>
        .card-title>a:before {
            font-family: FontAwesome;
            content: "\f0d7";
        }
    
        .card-title>a.collapsed:before {
            content: "\f0d9";
        }
    </style>
<script>
    $(document).ready(function () {
        $("#btn_run_sg_pytest_fresh").click(function () {
            go()
        })
        $("#btn_ad_opt").click(function () {
            if ($('#ad_opt_inputs input:checked').length > 0){
                go()
            }else{
                alert("Non of the Advanced Option is checked")
            }
        })

        function go(){
            var params = {}
            params['plugins'] = []
            $('div#config_param input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {

                    params['plugins'].push($(this).attr('id'))
                }
            })
            params['src_dir'] = $("#src_dir").val()
            params['test_dir'] = $("#test_dir").val()
            advanced_params = {}
            advanced_params['new_session'] = $("#new_session").prop("checked")
            var form = $(document.createElement('form'));
            $(form).attr("action", "/pytest/start_sg_pytest")
            $(form).attr("method", "POST")
            var input1 = $("<input>").attr("type", "hidden").attr("name", "params").val(JSON.stringify(params))
            var input2 = $("<input>").attr("type", "hidden").attr("name", "advanced_params").val(JSON.stringify(advanced_params))
            $(form).append($(input1))
            $(form).append($(input2))
            form.appendTo( document.body )
            $(form).submit() 
        }
    })
</script>

<div class="container mt-2 accordion">
    <div class="card">
        <div class="card-header bg-dark text-white text-center">
            <h4>SGPytest runner</h4>
            to start the SGPytest, click RUN
        </div>
    </div>
    <div class="card">
        <div class="container mt-2 text-center">
            <button type="button" id="btn_run_sg_pytest_fresh" class="btn btn-outline-dark">Run SG PyTest with fresh Environment</button>
        </div>
        
        <div class="container mt-2 text-center" id='config_param'>
            {% for plugin in sg_pytest.params['all_plugins'] %}
            <div class="form-check-inline">
                <label class="form-check-label">
                    {% if plugin in sg_pytest.params['plugins'] %}
                    <input type="checkbox" class="form-check-input" id="{{ plugin }}" value="" checked>{{ plugin.replace('--', '') }} {% else %}
                    <input type="checkbox" class="form-check-input" id="{{ plugin }}" value="">{{ plugin.replace('--', '') }} {% endif %}
                </label>
            </div>
            {% endfor %}
            <div class="input-group mb-3 text-center">
                <div class="input-group-prepend">
                    <span class="input-group-text">Directories</span>
                </div>
                <input type="text" class="form-control" placeholder="source directory" value="{{ sg_pytest.params['src_dir'] }}" id="src_dir">
                <input type="text" class="form-control" placeholder="testing directory" value="{{ sg_pytest.params['test_dir'] }}" id="test_dir">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header alert alert-light" id="current_status">
            <span class="card-title">
                Advanced Configuration's (use with care)
                <a class="collapsed close" data-toggle="collapse" data-parent="#accordion" href="#sg_py_status" aria-expanded="true" aria-controls="collapseOne">
                </a>
            </span>
        </div>
        <div class="panel-collapse collapse  text-center" id="sg_py_status">
            <div class="form-check-inline" id="ad_opt_inputs">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="new_session" value="">Restart with new Session
                </label>
            </div>
            <div class="container mt-2 card-body">
                <button type="button" id="btn_ad_opt" class="btn btn-outline-dark">Change Advanced Parameter</button>
            </div>
        </div>
    </div>
</div>