<style>
    .card-title>a:before {
        font-family: FontAwesome;
        content: "\f0d7";
    }

    .card-title>a.collapsed:before {
        float: right !important;
        content: "\f0d9";
    }
</style>

<script>
    $(document).ready(function () {
        $("#end_proceeding_sg_pytest_btn").removeAttr("href")
        $("#start_sg_pytest_modal").modal();
        proceed('{{ status }}', {{ status_array | tojson }})
        setInterval(blinker, 1000);
    })

    function blinker() {
        $('.blink_me').fadeOut(500);
        $('.blink_me').fadeIn(500);
    }

    function log_result(status, status_array) {
        $("#sg_pytest_status_title").text('Current Status: ' + status)
        $("#status").JSONView(status_array, {
            collapsed: false,
            nl2br: true,
            recursive_collapser: false
        })
        $('#status').JSONView('collapse', 2);
    }

    function proceed(status, status_array) {
        log_result(status, status_array)
        if (status == 'error') {
            $("#sg_pytest_status_title").removeClass("blink_me");
            $("#current_status").removeClass("alert-info");
            $("#current_status").addClass("alert-danger");
            $("#end_proceeding_sg_pytest_btn").removeClass("btn-outline-danger");
            $("#end_proceeding_sg_pytest_btn").addClass("btn-dark");
            $("#end_proceeding_sg_pytest_btn").text('Finished with Error - Exit');
            $("#end_proceeding_sg_pytest_btn").attr("href", "/pytest/finished_sg_pytest");
            return
        }
        if (status == 'finished') {
            $("#sg_pytest_status_title").removeClass("blink_me");
            $("#current_status").removeClass("alert-info");
            $("#current_status").addClass("alert-success");
            $("#end_proceeding_sg_pytest_btn").removeClass("btn-outline-danger");
            $("#end_proceeding_sg_pytest_btn").addClass("btn-dark");
            $("#end_proceeding_sg_pytest_btn").text('Finished - Exit');
            $("#end_proceeding_sg_pytest_btn").attr("href", "/pytest/finished_sg_pytest");
            return
        }
        $.ajax({
            url: '/pytest/proceed_sg_pytest',
            type: "GET",
            success: function (result) {
                proceed(result.status, result.status_array)
            },
            error: function (error) {
                return
            }
        })
    }
</script>

<!-- The Modal -->
<div class="modal" id="start_sg_pytest_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header mt-2">
                <div class="container mt-2">
                    <h4 class="modal-title">Running SGPytest</h4>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container mt-2" id="status_container">
                    <div class="card">
                        <div class="card-header alert alert-dark" id="current_status">
                            <!-- <a href="#" class="close" data-toggle="collapse" data-target="#demo">&times;</a> -->
                            <span class="card-title">
                                <a class="collapsed close" data-toggle="collapse" data-parent="#accordion" href="#sg_py_status" aria-expanded="true" aria-controls="collapseOne">    
                                    
                                </a>
                            </span>
                            <strong class="modal-title blink_me" id='sg_pytest_status_title'></strong>
                        </div>
                        <div class="panel-collapse collapse" id="sg_py_status">
                            <div id="status"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer form-row text-center">
                <div class="col-12">
                    <a class="btn btn-outline-danger" role="button" id="end_proceeding_sg_pytest_btn">Not allowed to cancel Processing</a>
                </div>
            </div>

        </div>
    </div>
</div>