<html>

<head>
  {% if title %}
  <title>SG_PyTest {{ title }}</title>
  {% else %}
  <title>SG_PyTest Server</title>
  {% endif %}
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1"> {% include "sceleton/external_scripts.html" ignore missing %}
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
  </style>
</head>

<body>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Swissglider PyTest Server</h1>
    <p>This is the Swissglider PyTest Server</p>
  </div>
  
  {% include "sceleton/navigation.html" ignore missing %}

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-12" id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  {% include "sceleton/footer.html" ignore missing %}

</body>

</html>