<script>
    {% for links in navigation %}
    $(document).ready(function () {
        $("#{{ links.id }}").on("click", function () {
            // $("#content").load("{{ links.link }}")
            window.open("{{ links.link }}", "_self")
        })
    }) 
    {% endfor %}
</script>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <!-- <a class="navbar-brand" href="#">Swissglider</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            {% for links in navigation %}
            {% if title == links.title %}
            <li class="nav-item disabled active">
                <a class="nav-link" href="#">{{ links.title }}                  
                    <span class="sr-only">(current)</span>     
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#" id="{{ links.id }}">{{ links.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>